body{
	font-size: 200%;
	font-family: 'BPG Ingiri Arial';
}
* {
	box-sizing: border-box;
}
#logo{
	display: inline-block;
	float: left;
	width: 200px;
}
nav{
	display: inline-block;
	line-height: 90px;
	float: right;
	width: 80%;
	height: 90px;
}
li{
	display: inline-block;
	padding-right: 10px;
}
#logo img{
	width: 200px;
}
a {
	text-decoration: none;
	color: blue;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'BPG Banner Caps';
}
header{
	padding: 30px 0px;
	margin: auto;
	font-family: 'BPG Banner Caps';
}
.container-space {
	display: block;
	margin: auto;
	padding: 50px 65px;
	max-width: 1300px;
}
.clear{
	clear: both;
}
#media h2 {+
	padding-right: 15px; 
	display: inline-block;
	padding: 30px 0px;
}
.icon{
	width: 200px;
}
#media article{
	width: 49%;
	background-color: gray;
	color: #fff;
	padding: 30px
}
.left{
	float: left;
}
.right{
	float: right;
}
.left p {
	color: black;
	font-family: 'BPG Banner Caps';
}
.right p {
	color: black;
	font-family: 'BPG Banner Caps';
}
.article-container{
	margin-top: 30px;
}
#media article img {
	float: left;
	display: inline-block;
	width: 30%;
}
#media article p {
	display: inline-block;
	width: 70%;
}
#media article h1 {
	margin-bottom: 15px;
}
.left h1 {
	color: blue;
}
.right h1 {
	color: blue;
}
.news{
	float: left;
	width: 25%;
	padding: 1%;
}
#new{
	background-color: #c3c8ca;
}
.news a {
	display: block;
	background-color: white;
	padding-left: 20px;
	position: relative;
	bottom: 10px;
}
.news img{
	width: 100%;
}
button {
	background-color: gray;
	color: white;
	padding: 10px 30px;
}
#media{
	background: gray;
}
#video{
	background-color: blue;
}
#video h2{
	color: white;
	display: inline-block;
}
.container-flex-space{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.container-flex-space div{
	height: 320px;
	width: 49%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: blue;
}
.container-flex-space-mini div{
	border: 2px solid white;
	width: 10px;
	height: 10px;
	display: flex;
	justify-content: center;
}